header {
  border-bottom: 2px solid black;
  background: repeating-linear-gradient(45deg, #78f2e9, #b65eba);
  border-radius: 20px;
  height: 250px;
}

body {
  background: repeating-linear-gradient(45deg, #6ee2f5, #6454f0);
}

.logo50x50 {
  width: 50px;
  height: 50px;
  padding: 30px 30px;
}

.paragraph {
  text-align: right;
  color: white;
  padding-right: 20px;
}

img {
  width: 790px;
  height: 500px;
}

.first-hb {
  text-align: center;
  width: 1500px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.first-hb:hover {
  border: solid 2px black;
  border-radius: 24px;
}

.second-hb {
  text-align: center;
  width: 1500px;
  margin-bottom: 50px;
}

.second-hb:hover {
  border: solid 2px black;
  border-radius: 24px;
}

.three-hb {
  text-align: center;
  width: 1500px;
  margin-bottom: 50px;
}

.three-hb:hover {
  border: solid 2px black;
  border-radius: 24px;
}

footer {
  border-top: 2px solid black;
  border-radius: 20px;
  text-align: right;
  height: 150px;
  background: repeating-linear-gradient(45deg, #78f2e9 0px, #78f2e9 50px, #b65eba 50px, #b65eba 100px);
}
